_build
build
.cache
*.cover
.coverage
.coverage.*
coverage.xml
develop-eggs
dist
docs/modules.rst
docs/ningen*.rst
downloads
*.egg
*.egg-info
.eggs
eggs
.env
env
ENV
htmlcov
.installed.cfg
*junk*
.make.*
*.manifest
.mypy_cache/
nosetests.xml
pip-delete-this-directory.txt
pip-log.txt
_pycache__
*py.class
*.py[cod]
.pytest_cache
.Python
.python-version
sdist
*.spec
.*.sw*
tags
.tox
var
.venv
venv
